*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: url('/img/bg.jpg');
	color: #74777b;
	font-weight: 400;
	font-size: 1em;
	font-family: Arial, sans-serif;
}

a {
	color: #2CC185;
	text-decoration: none;
	outline: none;
}


.oldwriter {
	font-family: 'Marvel', sans-serif;
	text-transform: uppercase;
}
.handwrite {
	font-family: 'Dancing Script', cursive;
}

.redcolor {
	color: #A22D2D;
}
#map {
    width: 100%;
}

.program_day {
	display: inline-block;
	width: 30%;
}
.program_day img {
	width: 40%;
}
.program_day p {
	font-family: 'Marvel', sans-serif;
	text-transform: uppercase;
	display: block;
}




#section-flip-1 p {
	font-size: 40px;
}

.tabs-style-flip li img {
	height: 34px;
	width: 34px;
	line-height: 34px;
	vertical-align: middle;
}

.tabs-style-flip li span {
    display: inline-block;
    vertical-align: middle;
}

.tabs-style-flip nav li a {
	line-height: 50px;
}


.tabs nav ul li {
    background: rgba(0,0,0, 0.1);
}






#section-flip-4 .ullist li {
	display: inline-block;
}

#section-flip-4 #controls-tabs {
	margin-top: 30px;
}

#section-flip-4 .tabs dd:first-child, #section-flip-4 .tabs li:first-child {
    margin-left: 0;
}
#section-flip-4 .tabs dd.active, #section-flip-4 .tabs li.active {
    border-top: 3px solid #b82200;
    margin-top: -3px;
}
#section-flip-4 .tabs-content li {
    list-style-type: none!important;
}
#section-flip-4 .tabs dd, #section-flip-4 .tabs li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}
#section-flip-4 .tabs .ullist li.active a {
    font-weight: bold;
    color: #3c3c3c!important;
    background-color: #fff!important;
}

#section-flip-4 .ullist li.active a, #section-flip-4 .ullist li a:hover {
    color: #B82200!important;
    background-color: #eee!important;
}
#section-flip-4 .ullist li.active a {
    font-weight: bold;
}
#section-flip-4 .tabs .ullist li a {
    padding: 0px 23.8px!important;
}
#section-flip-4 .tabs dd.active a, #section-flip-4 .tabs li.active a {
    cursor: default;
    color: #3c3c3c;
    background: #fff;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    font-weight: bold;
}
#section-flip-4 .tabs dd a, #section-flip-4 .tabs li a {
    color: #6f6f6f;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0px 23.8px;
}
#section-flip-4 a {
    color: #b82200;
    text-decoration: none;
    line-height: inherit;
}










a:hover, a:focus {
	color: #74777b;
}

.support {
	display: none;
	color: #ef5189;
	text-align: left;
	font-size: 1.5em;
	max-width: 1200px;
	margin: 1em auto 0;
	padding: 0;
}

.no-flexbox .support {
	display: block;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container > section {
	padding: 5em 0;
	font-size: 1.25em;
	min-height: 100%;
}

p {
	text-align: center;
	padding: 1em;
}

@media screen and (max-width: 30em) {
	.container > section {
		padding: 3em 0;
	}
}


/* Default tab style */
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}

/* Individual tab styles */

/*****************************/
/* Flip */
/*****************************/

.tabs-style-flip {
	max-width: 1200px;
}

.tabs-style-flip nav a {
	padding: 0.5em 0;
	color: #A22D2D;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
	color: #74777b;
}

.tabs-style-flip nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.625em;
}

.tabs-style-flip nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
	transform: perspective(900px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
	background-color: #fff;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
	transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.tabs-style-flip .content-wrap {
	background: #fff;
}
