body, button, input, select, textarea {
    color: #666;
    font-family: Questrial,Helvetica,sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 40px;
    line-height: 4rem;
    text-rendering: optimizeLegibility;
}
#intro {
    text-align: center;
}
#getting-started {
    margin-top: 200px;
}
.timelement {
    border:1px solid #888;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin:20px;
    text-align: center;
    color:#888;
}
.timer {
    font-size: 80px;
    margin-top: 40px;
}
.timelement span {
    display: block;
}